@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <b>Last Update : </b>@DateTime.Now.ToString("HH:mm:ss")
    <br />
    <b>StorageConnection : </b>@Model.ConnectionString
</div>
